#graph.fixed{
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    float: left;

}

footer {
	
    position: absolute;
    bottom: 5px;
    right: 5px;
	font-size: 11px;
	text-align: right;
}